<%- include('./includes/start') %>

<header>
    <div class="smoothie">
      <img src="https://github.com/iamshaunjp/node-express-jwt-auth/blob/lesson-18/public/smoothie.png?raw=true" alt="">
    </div>
    <div class="headings">
      <h2>Smoothie Recipes</h2>
      <h3>By Vannu For you</h3>
      <a href="/afterlogin" class="btn">View Recipes</a>
    </div>
  </header>




<%- include('./includes/end.ejs') %>